<!DOCTYPE html>
<html>
<head>
    <title>Detail Produk</title>
</head>
<body>
    <h1>Detail Produk</h1>
    <p>Nama: <strong>{{ product.name }}</strong></p>
    <p>Harga: ${{ product.price }}</p>
    <p>Stok: {{ product.stock }}</p>

    <a href="/products">Kembali ke Daftar Produk</a>
</body>
</html>
